
.main{
  margin-top: 20px;
  height:100px
}
.header ul li{
  margin-top: 10px;
  margin-left: 10px;
  display: inline;
  font-size:20px;
  font-weight: bold;
 color:rebeccapurple;
}
.header ul li link{
  text-decoration: none;
}
.header ul li:nth-child(1){
  margin-left:0;
  padding: 0;
}
.name {

}